<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the FDNY Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [2]:
#Import the Fire Department of New York City (FDNY) file
fire_department = pd.read_csv('../FDNY/FDNY.csv')

#### 2: Analyze the dataset

In [3]:
#View the content of the data
fire_department

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [5]:
#View the first five records
fire_department.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [13]:
#Skip the duplicate header row
fire_department.drop(0,inplace=True)

In [14]:
#Verify if the dataset is fixed
fire_department.head()

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan

In [15]:
#View the data statistics (Hint: use describe() method)
fire_department.describe()

                              FacilityName    FacilityAddress   Borough
count                                  218                218       218
unique                                 218                218         5
top     Engine 287/Ladder 136/Battalion 46  126 Foster Avenue  Brooklyn
freq                                     1                  1        66

In [16]:
#View the attributes of the dataset (Hint: view the column names)
fire_department.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [19]:
#View the index of the dataset
fire_department.values

array([['Engine 4/Ladder 15', '42 South Street', 'Manhattan'],
       ['Engine 10/Ladder 10', '124 Liberty Street', 'Manhattan'],
       ['Engine 6', '49 Beekman Street', 'Manhattan'],
       ['Engine 7/Ladder 1/Battalion 1/Manhattan Borough Command',
        '100-104 Duane Street', 'Manhattan'],
       ['Ladder 8', '14 North Moore Street', 'Manhattan'],
       ['Engine 9/Ladder 6', '75 Canal Street', 'Manhattan'],
       ['Engine 15/Ladder 18/Battalion 4', '25 Pitt Street', 'Manhattan'],
       ['Engine 28/Ladder 11', '222 East 2nd Street', 'Manhattan'],
       ['Engine 5', '340 East 14th Street', 'Manhattan'],
       ['Engine 55', '363 Broome Street', 'Manhattan'],
       ['Ladder 20/Division 1', '253 Lafayette Street', 'Manhattan'],
       ['Engine 24/Ladder 5/Battalion 2', '227-29 6th Avenue',
        'Manhattan'],
       ['Engine 33/Ladder 9', '42 Great Jones Street', 'Manhattan'],
       ['Ladder 3/Battalion 6', '108 East 13th Street', 'Manhattan'],
       ['Squad 18', '132 West 10th Street', 'Manhattan'],
       ['Engine 34/Ladder 21', '440 West 38th Street', 'Manhattan'],
       ['Engine 26', '220 West 37th Street', 'Manhattan'],
       ['Engine 3/Ladder 12/Battalion 7', '150 West 19th Street',
        'Manhattan'],
       ['Engine 1/Ladder 24', '142-46 West 31st Street', 'Manhattan'],
       ['Engine 14', '14 East 18th Street', 'Manhattan'],
       ['Engine 16 / Ladder 7 ', '234 East 29th Street', 'Manhattan'],
       ['Engine 21', '238 East 40th Street', 'Manhattan'],
       ['Engine 54/Ladder 4/Battalion 9', '782 8th Avenue', 'Manhattan'],
       ['Engine 23', '215 West 58th Street', 'Manhattan'],
       ['Rescue 1', '530 West 43rd Street', 'Manhattan'],
       ['Engine 40/Ladder 35', '131 Amsterdam Avenue  ', 'Manhattan'],
       ['Ladder 25/District Office 4/Division 3',
        '205-207 West 77th Street', 'Manhattan'],
       ['Engine 74', '120 West 83rd Street ', 'Manhattan'],
       ['Engine 65', '33 West 43rd Street', 'Manhattan'],
       ['Engine 8 / Ladder 2 / Battalion 8', '167 East 51st Street',
        'Manhattan'],
       ['Engine 39/Ladder 16', '157-59 East 67th Street', 'Manhattan'],
       ['Engine 44', '221 East 75th Street', 'Manhattan'],
       ['Engine 22/Ladder 13/Battalion 10', '159 East 85th Street',
        'Manhattan'],
       ['Engine 58/Ladder 26', '1367 5th Avenue', 'Manhattan'],
       ['Engine 53/Ladder 43', '1836-46 3rd  Avenue', 'Manhattan'],
       ['Engine 91', '242 East 111th Street', 'Manhattan'],
       ['Engine 35/Ladder 14', '2282 3rd Avenue', 'Manhattan'],
       ['Engine 76/Ladder 22/Battalion 11', '145-51 West 100th Street',
        'Manhattan'],
       ['Engine 47', '502 West 113th Street', 'Manhattan'],
       ['Engine 59/Ladder 30', '111 West 133rd Street', 'Manhattan'],
       ['Engine 37/Ladder 40', '415 West 125th Street', 'Manhattan'],
       ['Engine 69/Ladder 28/Battalion 16', '248 West 143rd Street',
        'Manhattan'],
       ['Engine 80/Ladder 23', '503 West 139th Street', 'Manhattan'],
       ['Engine 84/Ladder 34', '513 West 161st Street', 'Manhattan'],
       ['Engine 67', '518 West 170th Street', 'Manhattan'],
       ['Engine 93/Ladder 45/Battalion 13', '515 West 181st Street',
        'Manhattan'],
       ['Engine 95/Ladder 36', '29 Vermilyea Avenue', 'Manhattan'],
       ['Marine 1', 'Little West 12th Street/Hudson River', 'Manhattan'],
       ['Engine 60/Ladder 17/Battalion 14', '341 East 143rd Street',
        'Bronx'],
       ['Squad 41', '330 East 150th Street', 'Bronx'],
       ['Engine 71/Ladder 55/Division 6', '720 Melrose Avenue', 'Bronx'],
       ['Engine 50/Ladder 19', '1155 Washington Avenue', 'Bronx'],
       ['Engine 92/Ladder 44/Battalion 17', '1259 Morris Avenue',
        'Bronx'],
       ['EMS Station 17 ', '1080 Ogden Avenue', 'Bronx'],
       ['Engine 68/Ladder 49', '1160 Ogden Avenue ', 'Bronx'],
       ['EMS Station 26', '1264 Boston Road', 'Bronx'],
       ['Engine 73/Ladder 42/Battalion 26', '655 Prospect Avenue',
        'Bronx'],
       ['Engine 94/Ladder 48/Battalion 3', '1226 Seneca Avenue', 'Bronx'],
       ['Engine 42', '1781 Monroe Avenue', 'Bronx'],
       ['Engine 43/Ladder 59', '1901 Sedgwick Avenue', 'Bronx'],
       ['Rescue 3', '1655 Washington Avenue', 'Bronx'],
       ['Engine 46, Ladder 27', '460 Cross Bronx Expressway', 'Bronx'],
       ['Bronx Borough Command, District Office 6 & 7 ',
        '451 East 176th Street', 'Bronx'],
       ['Engine 82/Ladder 31', '1213 Intervale Avenue', 'Bronx'],
       ['Engine 48/Ladder 56/Division 7', '2417 Webster Avenue', 'Bronx'],
       ['Engine 88/Ladder 38', '2225 Belmont Avenue', 'Bronx'],
       ['Engine 45/Ladder 58/Battalion 18', '925 East Tremont Avenue',
        'Bronx'],
       ['Engine 75/Ladder 33/Battalion 19', '2175 Walton Avenue',
        'Bronx'],
       ['Engine 81/Ladder 46', '3025 Bailey Avenue', 'Bronx'],
       ['Engine 79/Ladder 37/Battalion 27', '2928 Briggs Avenue',
        'Bronx'],
       ['  Engine 96/Ladder 54', '1689 Story Avenue', 'Bronx'],
       ['Engine 64/Ladder 47/District Office 7',
        '1214 Castle Hill Avenue', 'Bronx'],
       ['Engine 90/Ladder 41', '1843 White Plains Road', 'Bronx'],
       ['Squad 61/Battalion 20', '1518 Williamsbridge Road', 'Bronx'],
       ['Engine 97', '1454 Astor Avenue', 'Bronx'],
       ['Engine 62/Ladder 32', '3431 White Plains Road', 'Bronx'],
       ['Engine 38/Ladder 51', '3446 Eastchester Road', 'Bronx'],
       ['Engine 63/Ladder 39/Battalion 15', '755 East 233rd Street',
        'Bronx'],
       ['Engine 66/Ladder 61', '21 Asch Loop West', 'Bronx'],
       ['Engine 89/Ladder 50', '2924 Bruckner Boulevard', 'Bronx'],
       ['Engine 72', '3929 East Tremont Avenue', 'Bronx'],
       ['Engine 70/Ladder 53', '169 Schofield Street', 'Bronx'],
       ['Engine 207/Ladder 110/Battalion 31/Division 11/Brooklyn Borough Command',
        '172 Tillary Street', 'Brooklyn'],
       ['Engine 226', '409 State Street', 'Brooklyn'],
       ['Engine 205/Ladder 118', '74 Middagh Street', 'Brooklyn'],
       ['Engine 224', '274 Hicks Street', 'Brooklyn'],
       ['Engine 279/Ladder 131', '252 Lorraine Street', 'Brooklyn'],
       ['Engine 202/Ladder 101/Battalion 32', '31 Richards Street',
        'Brooklyn'],
       ['Engine 228', '436 39th Street', 'Brooklyn'],
       ['Engine 201/Ladder 114/Battalion 40', '5113-5117 4th Avenue',
        'Brooklyn'],
       ['Squad 1', '788 Union Street', 'Brooklyn'],
       ['Engine 239', '395 4th Avenue', 'Brooklyn'],
       ['Engine 220/Ladder 122', '530-532 11th Street', 'Brooklyn'],
       ['Ladder 105', '494 Dean Street', 'Brooklyn'],
       ['Engine 280/Ladder 132', '489-91 Saint Johnï¿½s Place', 'Brooklyn'],
       ['Rescue 2', '1472 Bergen Street', 'Brooklyn'],
       ['Engine 234/Ladder 123/Battalion 38', '1352 Saint Johnï¿½s Place',
        'Brooklyn'],
       ['Engine 227', '423-25 Ralph Avenue', 'Brooklyn'],
       ['Engine 233/Ladder 176', '25 Rockaway Avenue', 'Brooklyn'],
       ['Engine 217', '940 Dekalb Avenue', 'Brooklyn'],
       ['Engine 222/Battalion 37', '32 Ralph Avenue', 'Brooklyn'],
       ['Engine 214/Ladder 111', '495 Hancock Street', 'Brooklyn'],
       ['Engine 230', '701 Park Avenue', 'Brooklyn'],
       ['Engine 235/Battalion 57', '206 Monroe Street', 'Brooklyn'],
       ['Ladder 102', '850-56 Bedford Avenue', 'Brooklyn'],
       ['Marine 6', 'Building 292 Brooklyn Navy Yard', 'Brooklyn'],
       ['Engine 210', '160 Carlton Avenue', 'Brooklyn'],
       ['Engine 211/Ladder 119', '26 Hooper Street', 'Brooklyn'],
       ['Engine 221/Ladder 104', '161 South 2nd Street', 'Brooklyn'],
       ['Engine 216/Ladder 108/Battalion 35', '187 Union Avenue',
        'Brooklyn'],
       ['Engine 238/Ladder 106', '205 Greenpoint Avenue', 'Brooklyn'],
       ['Engine 229/Ladder 146', '75-77 Richardson Street', 'Brooklyn'],
       ['Engine 206', '1201 Grand Street', 'Brooklyn'],
       ['Engine 237', '43 Morgan Avenue', 'Brooklyn'],
       ['Engine 218', '650 Hart Street', 'Brooklyn'],
       ['Engine 271/Ladder 124/Battalion 28', '392 Himrod Street',
        'Brooklyn'],
       ['Engine 277/Ladder 112', '582 Knickerbocker Avenue', 'Brooklyn'],
       ['Squad 252', '617 Central Avenue', 'Brooklyn'],
       ['Engine 231/Ladder 120/Battalion 44', '107 Watkins Street',
        'Brooklyn'],
       ['Engine 283/Division 15', '885 Howard Avenue', 'Brooklyn'],
       ['Engine 332/Ladder 175', '165 Bradford Street', 'Brooklyn'],
       ['Engine 290/Ladder 103', '480 Sheffield Avenue', 'Brooklyn'],
       ['Engine 236', '998 Liberty Avenue', 'Brooklyn'],
       ['Engine 225/Ladder 107/Battalion 39', '799 Lincoln Avenue',
        'Brooklyn'],
       ['Engine 310/Ladder 174/Battalion 58', '5105 Snyder Avenue',
        'Brooklyn'],
       ['Engine 249/Ladder 113', '491 Rogers Avenue', 'Brooklyn'],
       ['Engine 248', '2900 Snyder Avenue', 'Brooklyn'],
       ['Engine 281/Ladder 147', '1210 Cortelyou Road', 'Brooklyn'],
       ['Engine 255/Ladder 157', '1367 Rogers Avenue', 'Brooklyn'],
       ['Engine 240/Battalion 48', '1307 Prospect Avenue', 'Brooklyn'],
       ['Engine 282/Ladder 148', '4210-12 12th Avenue', 'Brooklyn'],
       ['Engine 247', '1336 60th Street', 'Brooklyn'],
       ['Engine 241/Ladder 109', '6630 3rd Avenue', 'Brooklyn'],
       ['Engine 242', '9219 5th Avenue', 'Brooklyn'],
       ['Engine 284/Ladder 149', '1157 79th Street', 'Brooklyn'],
       ['Engine 243/Ladder 168/Battalion 42', '8653 18th Avenue',
        'Brooklyn'],
       ['Engine 250', '126 Foster Avenue', 'Brooklyn'],
       ['Engine 330/Ladder 172 ', '2312 65th Street', 'Brooklyn'],
       ['Engine 276/Ladder 156/Battalion 33', '1635 East 14th Street',
        'Brooklyn'],
       ['Engine 253', '2429 86th Street', 'Brooklyn'],
       ['Engine 318/Ladder 166', '2510-14 Neptune Avenue', 'Brooklyn'],
       ['Engine 254/Ladder 153', '901 Avenue U', 'Brooklyn'],
       ['Engine 245/Ladder 161/Battalion 43', '2929 West 8th Street',
        'Brooklyn'],
       ['Engine 257/Ladder 170', '1361 Rockaway Parkway', 'Brooklyn'],
       ['Engine 323', '6405 Avenue N', 'Brooklyn'],
       ['Engine 309/Ladder 159', '1851 East 48th Street', 'Brooklyn'],
       ['Engine 246/Ladder 169', '2732 East 11th Street', 'Brooklyn'],
       ['Engine 321', '2165 Gerritsen Avenue', 'Brooklyn'],
       ['Engine 258/Ladder 115', '10-40 47th Avenue', 'Queens'],
       ['Engine 325/Ladder 163', '41-24 51st Street', 'Queens'],
       ['Engine 259/Ladder 128/Battalion 45', '33-51 Greenpoint Avenue',
        'Queens'],
       ['Engine 260', '11-15 37th Avenue', 'Queens'],
       ['Engine 261/Ladder 116', '3720-22 29th Street', 'Queens'],
       ['Engine 262', '30-89 21st Street', 'Queens'],
       ['Engine 263/Ladder 117/Battalion 49', '42-06 Astoria Boulevard',
        'Queens'],
       ['Engine 312', '22-63 35th Street', 'Queens'],
       ['Engine 307/Ladder 154', '81-17 North Boulevard', 'Queens'],
       ['Engine 289/Ladder 138', '97-28 43rd Avenue', 'Queens'],
       ['Engine 316', '27-12 Kearney Street', 'Queens'],
       ['Engine 324/Division 14', '108-01 Horace Harding Blvd.',
        'Queens'],
       ['Eng 292/Rescue 4', '64-18 Queens Boulevard', 'Queens'],
       ['Squad 288/Hazmat 1', '56-29 68th Street', 'Queens'],
       ['Engine 287/Ladder 136/Battalion 46', '86-53 Grand Avenue',
        'Queens'],
       ['Engine 291/Ladder 140', '56-07 Metropolitan Avenue', 'Queens'],
       ['Engine 305/Ladder 151', '111-02 Queens Boulevard', 'Queens'],
       ['Engine 286/Ladder 135', '66-44 Myrtle Avenue', 'Queens'],
       ['Engine 319', '78-11 67th Road', 'Queens'],
       ['Engine 297/Ladder 130', '119-11 14th Road', 'Queens'],
       ['Engine 295/Ladder 144', '12-49 149th Street', 'Queens'],
       ['Engine 273/Ladder 129', '40-18 Union Street', 'Queens'],
       ['Engine 274/Battalion 52', '41-20 Murray Street', 'Queens'],
       ['Engine 320/Ladder 167', '36-18 Francis Lewis Boulevard',
        'Queens'],
       ['Engine 306/Battalion 53', '40-18 214th Place', 'Queens'],
       ['Engine 315/Ladder 125', '159-06 Union Turnpike', 'Queens'],
       ['Engine 299/Ladder 152', '61-20 Utopia Parkway', 'Queens'],
       ['Engine 326/Ladder 160', '64-04 Springfield Boulevard', 'Queens'],
       ['Engine 313/Ladder 164', '44-01 244th Street', 'Queens'],
       ['Engine 251', '254-20 Union Turnpike', 'Queens'],
       ['Engine 293', '89-40 87th Street', 'Queens'],
       ['Engine 285/Ladder 142', '103-17 98th Street', 'Queens'],
       ['Ladder 143', '101-02 Jamaica Avenue', 'Queens'],
       ['Squad 270/Division 13', '91-45 121st Street', 'Queens'],
       ['Engine 308/Battalion 51', '107-12 Lefferts Boulevard', 'Queens'],
       ['Engine 298/Ladder 127/Battalion 50', '153-11 Hillside Avenue',
        'Queens'],
       ['Engine 303/Ladder 126', '104-12 Princeton Street', 'Queens'],
       ['Engine 275', '111-36 Merrick Boulevard', 'Queens'],
       ['Engine 301/Ladder 150', '91-04 197th Street', 'Queens'],
       ['Engine 304/Ladder 162', '218-44 97th Avenue', 'Queens'],
       ['Engine 302/Ladder 155', '143-15 Rockaway Boulevard', 'Queens'],
       ['Engine 317/Ladder 165/Battalion 54', '117-11 196th Street',
        'Queens'],
       ['Engine 311/Ladder 158', '145-50 Springfield Boulevard',
        'Queens'],
       ['Engine 314', '142-04 Brookville Boulevard', 'Queens'],
       ['Engine 331/Ladder 173', '158-57 Cross Bay Boulevard', 'Queens'],
       ['Engine 264/Engine 328/Ladder 134', '16-15 Central Avenue',
        'Queens'],
       ['Engine 265/Ladder 121/Battalion 47 EMS Station 47',
        '48-06 Rockaway Beach Boulevard', 'Queens'],
       ['Engine 266/Battalion 47', '92-20 Rockaway Beach Boulevard',
        'Queens'],
       ['Engine 268/Ladder 137', '257 Beach 116th Street', 'Queens'],
       ['Engine 329', '402 Beach 169th Street', 'Queens'],
       ['Marine 9', 'Saint George Ferry Terminal', 'Staten Island'],
       ['Engine 155/Ladder 78', '14 Brighton Avenue', 'Staten Island'],
       ['Ladder 79/Battalion 22', '1189 Castleton Avenue',
        'Staten Island'],
       ['Engine 156', '412 Broadway', 'Staten Island'],
       ['Engine 163/Ladder 83', '875 Jewett Avenue', 'Staten Island'],
       ['Engine 153/Ladder 77', '74 Broad Street', 'Staten Island'],
       ['Engine 165/Ladder 85', '3067 Richmond Road', 'Staten Island'],
       ['Engine 157/Ladder 80', '1573 Castleton Avenue', 'Staten Island'],
       ['Engine 158', '65 Harbor Road', 'Staten Island'],
       ['Engine 166/Ladder 86', '1400 Richmond Avenue', 'Staten Island'],
       ['Engine 154/District Office 8/ Staten Island Borough Command',
        '3730 Victory Boulevard', 'Staten Island'],
       ['Engine 152/Battalion 21', '256 Hylan Boulevard',
        'Staten Island'],
       ['Engine 161/Ladder 81', '278 Mc Clean Avenue', 'Staten Island'],
       ['Engine 160/Rescue 5/Division 8', '1850 Clove Road',
        'Staten Island'],
       ['Engine 159', '1592 Richmond Road', 'Staten Island'],
       ['Engine 162/Ladder 82/Battalion 23', '256 Nelson Avenue',
        'Staten Island'],
       ['Engine 167/Ladder 87', '345 Annadale Road', 'Staten Island'],
       ['Engine 164/Ladder 84', '1560 Drumgoole Road West',
        'Staten Island'],
       ['Engine 168/EMS Station 23', '1100 Rossville Avenue',
        'Staten Island'],
       ['Engine 151/Ladder 76', '7219 Amboy Road', 'Staten Island']],
      dtype=object)

#### 3: Find the total number of fire department facilities in New York city

In [31]:
#Count number of records for each attribute
fire_department.Borough.count()

218

In [34]:
#view the datatypes of all three attributes
fire_department.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218 entries, 1 to 218
Data columns (total 3 columns):
FacilityName       218 non-null object
FacilityAddress    218 non-null object
Borough            218 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

#### 4: Find the total number of fire department facilities in each borough

In [36]:
#Select FDNY information boroughwise
fire_department.Borough.value_counts()

Brooklyn         66
Queens           50
Manhattan        48
Bronx            34
Staten Island    20
Name: Borough, dtype: int64

In [72]:
#View FDNY informationn for each borough
fire_department.groupby('Borough').head()

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
49,Engine 60/Ladder 17/Battalion 14,341 East 143rd Street,Bronx
50,Squad 41,330 East 150th Street,Bronx
51,Engine 71/Ladder 55/Division 6,720 Melrose Avenue,Bronx
52,Engine 50/Ladder 19,1155 Washington Avenue,Bronx
53,Engine 92/Ladder 44/Battalion 17,1259 Morris Avenue,Bronx
83,Engine 207/Ladder 110/Battalion 31/Division 11...,172 Tillary Street,Brooklyn
84,Engine 226,409 State Street,Brooklyn
85,Engine 205/Ladder 118,74 Middagh Street,Brooklyn
86,Engine 224,274 Hicks Street,Brooklyn
87,Engine 279/Ladder 131,252 Lorraine Street,Brooklyn
149,Engine 258/Ladder 115,10-40 47th Avenue,Queens
150,Engine 325/Ladder 163,41-24 51st Street,Queens
151,Engine 259/Ladder 128/Battalion 45,33-51 Greenpoint Avenue,Queens
152,Engine 260,11-15 37th Avenue,Queens
153,Engine 261/Ladder 116,3720-22 29th Street,Queens
199,Marine 9,Saint George Ferry Terminal,Staten Island
200,Engine 155/Ladder 78,14 Brighton Avenue,Staten Island
201,Ladder 79/Battalion 22,1189 Castleton Avenue,Staten Island
202,Engine 156,412 Broadway,Staten Island
203,Engine 163/Ladder 83,875 Jewett Avenue,Staten Island

#### 5: Find the total number of fire department facilities in Manhattan

In [46]:
#Select FDNY information for Manhattan
manhattan=fire_department.groupby('Borough')

In [47]:
#View FDNY information for Manhattan
manhattan.get_group('Manhattan')

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
6,Engine 9/Ladder 6,75 Canal Street,Manhattan
7,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
8,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
9,Engine 5,340 East 14th Street,Manhattan
10,Engine 55,363 Broome Street,Manhattan
11,Ladder 20/Division 1,253 Lafayette Street,Manhattan
12,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
13,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
14,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
15,Squad 18,132 West 10th Street,Manhattan
16,Engine 34/Ladder 21,440 West 38th Street,Manhattan
17,Engine 26,220 West 37th Street,Manhattan
18,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
19,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
20,Engine 14,14 East 18th Street,Manhattan
21,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
22,Engine 21,238 East 40th Street,Manhattan
23,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
24,Engine 23,215 West 58th Street,Manhattan
25,Rescue 1,530 West 43rd Street,Manhattan
26,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
27,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
28,Engine 74,120 West 83rd Street,Manhattan
29,Engine 65,33 West 43rd Street,Manhattan
30,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
31,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
32,Engine 44,221 East 75th Street,Manhattan
33,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
34,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
35,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
36,Engine 91,242 East 111th Street,Manhattan
37,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
38,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
39,Engine 47,502 West 113th Street,Manhattan
40,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
41,Engine 37/Ladder 40,415 West 125th Street,Manhattan
42,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
43,Engine 80/Ladder 23,503 West 139th Street,Manhattan
44,Engine 84/Ladder 34,513 West 161st Street,Manhattan
45,Engine 67,518 West 170th Street,Manhattan
46,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
47,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
48,Marine 1,Little West 12th Street/Hudson River,Manhattan